h6 {
  color: gray;
}

li {
  list-style-type: none;
  color: gray;
  font-weight: 500;
  line-height: 1.2;
  padding: 0px 0px;
  padding-left: 0px;
}

i {
  font-size: 80px;
}

ul {
  padding: 0px 0px;
  padding-left: 0px;
}

.detail-value,
.temperature,
.high-low {
  color: #596aca;
}

.card {
  min-height: 50px;
  min-width: min-content;
}

.card-body {
  border-color: transparent;
}

.col-6-sm {
  margin-bottom: 0px;
}

.detail-value {
  margin-top: 0px;
  font-size: 24px;
}

.detail-name {
  margin-bottom: -5px;
}

.form-group {
  text-align: center;
  line-height: 20px;
}

.future-day {
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  opacity: 0.8;
}

.future-temps {
  text-align: right;
  margin: 0 auto;
}

.row > * {
  padding-left: 0;
  padding-right: 0;
  margin: 30px auto;
  --bs-gutter-x: 1px;
}

.temperature {
  font-size: 50px;
}

.weather-container {
  margin-top: 30px;
  border: solid 1px skyblue;
  border-radius: 25px;
  padding: 15px 30px;
}

.weather-forecast-max {
  opacity: 0.8;
}

.weather-forecast-min {
  opacity: 0.5;
}

.weather-forecast-min-unit {
  opacity: 0.5;
}

#current-location-button,
#search-button {
  border-radius: 10px;
  max-height: inherit;
}

#search-button-image,
#current-location-image {
  top: 200px;
  right: 100px;
  width: 40px;
  height: 40px;
}

#app-area {
  max-width: 800px;
  margin: 30px auto;
}

#basic-weather {
  position: relative;
  text-align: left;
  margin: auto -50px;
}

#city-search {
  margin: auto;
  margin-bottom: 32px;
  padding: auto;
  height: 36px;
}

#current-city {
  margin-bottom: 0px;
}

#other-cities {
  color: #1077c8;
  font-weight: 600;
  margin: 0 0;
  text-decoration: none;
}

#other-cities a {
  color: #1077c8;
  font-weight: 600;
  margin: 0 0;
  text-decoration: none;
}

#search-bar {
  margin: 0px 25% 10px 25%;
  margin-bottom: 0px;
  padding: auto;
  width: 80%;
  text-align: center;
}

#search-bar.input-group {
  text-align: center;
}

#search-bar-section {
  margin-bottom: 0px;
  display: inline-block;
}

#search-icon {
  color: white;
  align-content: center;
  vertical-align: 0px;
  filter: brightness(0) invert(1);
}

#search-text-input {
  border-radius: 10px;
  max-width: 50%;
  display: inline-block;
  height: 43px;
  margin: 0 7px;
}

#search-text-input:focus {
  border-radius: 10px;
}

#temperature-unit {
  position: relative;
  font-size: 16px;
  top: -20px;
}

#todays-info {
  padding-left: 0rem;
  margin: 0rem;
}

#todays-weather {
  margin: 0 0 10 0;
}

#todays-temperature {
  font-size: 43px;
}

#weather-description::first-letter {
  text-transform: uppercase;
}

#unit-switch {
  position: relative;
  padding: 40px auto;
  text-align: right;
  margin-left: 20px;
}
