h6 {
  color: gray;
}

li {
  list-style-type: none;
  color: gray;
  font-weight: 500;
  line-height: 1.2;
  padding: 0px 0px;
  padding-left: 0px;
}

i {
  font-size: 80px;
}

ul {
  padding: 0px 0px;
  padding-left: 0px;
}

.detail-value,
.temperature,
.high-low {
  color: #596aca;
}

.card {
  min-height: 50px;
  min-width: min-content;
}

.card-body {
  border-color: transparent;
}

.detail-value {
  margin-top: 0px;
  font-size: 24px;
}

.detail-name {
  margin-bottom: -5px;
}

.form-group {
  text-align: center;
  line-height: 20px;
}

.future-day {
  text-align: left;
  margin: 0 auto;
}

.future-temps {
  text-align: right;
  margin: 0 auto;
}

.row > * {
  padding-left: 0;
  padding-right: 0;
  margin: 30px auto;
  --bs-gutter-x: 1px;
}

.temperature {
  font-size: 50px;
}

.weather-container {
  margin-top: 30px;
  border: solid 1px skyblue;
  border-radius: 25px;
  padding: 15px 30px;
}

#app-area {
  max-width: 800px;
  margin: 30px auto;
}

#city-search {
  margin: auto;
  padding: auto;
}

#current-city {
  margin-bottom: 0px;
}

#other-cities {
  color: #1077c8;
  font-weight: 600;
  margin: 0;
}

#search-bar {
  margin: auto;
  margin-bottom: 0px;
  padding: auto;
  width: 80%;
}

#search-text-input {
  border-radius: 10px;
  max-width: 50%;
  display: inline-block;
  height: 37px;
}

#search-text-input:focus {
  border-radius: 10px;
}

#todays-info {
  padding-left: 0rem;
  margin: 0rem;
}

#todays-temperature {
  font-size: 43px;
}

#weather-description::first-letter {
  text-transform: uppercase;
}

/* .btn {
  margin: auto;
  
} */

#current-location-button,
#search-button {
  border-radius: 10px;
}

#search-button-image,
#current-location-image {
  top: 200px;
  right: 100px;
  width: 40px;
  height: 40px;
}
